.navbar{
    background-color: #d3cecb;
    padding: 30px 100px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    cursor: pointer;

    .logo{
        font-size: 35px;
        color: chocolate;
    }

    .search{
        float: right;
        font-size: 25px;
        padding-top: 6px;
        color: darkgreen;
    }
}