.navbar{
    background-color: #d3cecb;
    padding: 30px 100px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    cursor: pointer;

    .logo{
        font-size: 35px;
        color: chocolate;
    }

    &-right{
        float: right;

        .favourites{
            font-size: 25px;
            padding-top: 6px;
            color: darkred;
        }

        .search{
            font-size: 25px;
            padding-top: 6px;
            color: darkgreen;
            margin-left: 20px;
        }
    }
}